NODE_ENV=<development|production> 
PORT=<8080>            
HOST=<localhost>

CORS_ORIGIN=<http://localhost:*>
AWS_ACCESS_KEY_ID=<AWS Access Id Key>
AWS_SECRET_ACCESS_KEY=<AWS Secret Key>
S3_IMAGE_BUCKET_NAME= <S3 Bucket Name>
AWS_ACCOUNT_ID=<AWS Acccount Id>
AWS_REGION=<AWS Region>
IMAGE_PROCESSING_QUEUE=<Queue Name>
AWS_SQS_HOST=<AWS Sqs Host>
SMTP_HOST_NAME=<SMTP Host Name>
SMTP_PORT=<SMPT Port>
SMTP_USERNAME=<SMTP Username>
SMTP_PASSWORD=<SMTP Password>
SMTP_FROM=<SMTP From email>
SMTP_TO=<Comma Seperated Email Ids to send email to> # Example: user1@example.com, user2@example.com
SMTP_TO_ADMIN=<Send error email to>